<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="consumer-key" value="***" />
    <add key="consumer-secret" value="***"/>
    <add key="access-token" value="***"></add>
    <add key="access-token-secret" value="***"></add>
    <add key="user-name" value="***"></add>
    <add key="user-password" value="***"></add>
    <add key="stream-url" value ="https://userstream.twitter.com/2/user.json"></add>
  </appSettings>
</configuration>